# --- For-Bot-Working --------- #
tzdata
git+https://github.com/KurimuzonAkuma/pyrogram.git@v2.1.17#egg=pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
