#https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.61
TgCrypto
pyromod==1.5
schedule
APscheduler
# --- For-Database ------------ #
pymongo
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
aiofiles
asyncio
